/* Navbar styles */
.logo {
    font-size: 1.5rem;
    font-family: var(--font-outfit);
    font-weight: 700;
    letter-spacing: -0.05em;
    transition: opacity 0.2s;
    pointer-events: auto;
    color: var(--foreground);
    text-decoration: none;
}

.logo:hover {
    opacity: 0.7;
}